.listItem {
	font-size: 1.2rem;
}

.icon {
	font-size: 24px;
}

.downloadIcon {
	padding: 0.3rem;
	border: 1px solid transparent;
	transition: all 200ms;
}

.downloadIcon:hover {
	border: 1px solid lightgrey;
	border-radius: 5px;
}
