@import-normalize;

html,
body {
	min-height: 100% !important;
}

#root {
	display: flex;
	min-height: 100%;
}

.layout {
	display: flex;
	flex-direction: column;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%;
	color: white;
	float: left;
}
